.card__trash-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash.svg);
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.1s linear;
  display: none;
}

.card__trash-icon:hover {
  opacity: 0.6;
}
