.header {
  font-family: "Inter", Arial, sans-serif;
  position: relative;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    min-height: 60px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    min-height: 56px;
    padding-left: 27px;
  }
}
