.profile__avatar {
  border-radius: 50%;
  width: 120px;
  object-fit: cover;
  margin-inline-end: 30px;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-inline-end: 20px;
  }
}

@media screen and (max-width: 650px) {
  .profile__avatar {
    margin-inline-end: 0;
    margin-block-end: 26px;
  }
}
