.card__like {
  border: none;
  margin: 0 20px 0;
  padding: 0;
  min-width: 22px;
  height: 22px;
  background: url(../../../images/heart.svg) no-repeat;
  transition: opacity 0.1s linear;
}

.card__like:hover {
  opacity: 0.5;
}
