.page__cards {
  margin-block-end: 66px;
}

@media screen and (max-width: 1023px) {
  .page__cards {
    margin-block-end: 55px;
  }
}

@media screen and (max-width: 650px) {
  .page__cards {
    margin-block-end: 48px;
  }
}
