.popup__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  padding: 0 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-block-end: 28px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .popup__item {
    padding-bottom: 9px;
    margin-block-end: 29px;
  }
}
